<h1>What sort of finacing options would you like</h1>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="finance-card-1 mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Lease (PPA)</h2>
      </div>
      <div class="mdl-card__supporting-text">
        - No Cost <br/>
        - Purchase All Power at Lower Rate <br/>
        - Start Saving Month One <br/>
        - Full 20 Year Insurance & Maintenance Coverage<br/>
        <h6>Average 30 Year Savings: $17,920</h6>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a routerLink="/step-4" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="finance-card-1 mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Loan</h2>
      </div>
      <div class="mdl-card__supporting-text">
              - No Money Down<br/>
              - Low ARP<br/>
              - Replaces Electric Bill<br/>
              - Roof and Product Warranties<br/>
        <h6>Average Payback: 5.2 Years</h6>
        <h6>Average 30 Year Savings: $42,600</h6>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a routerLink="/step-4" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="finance-card-1 mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Cash</h2>
      </div>
      <div class="mdl-card__supporting-text">
              - Eliminates Electric Bill<br/>
              - Roof and Product Warranties<br/>
        <h6>Average Payback: 4 Years</h6>
        <h6>Average 30 Year Savings: $48,400</h6>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a routerLink="/step-4" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
</div>