<h1>
  Choose a Financier
</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Financier</th>
      <th class="mdl-data-table__cell--non-numeric">User Rating</th>
      <th>Monthly</th>
      <th>30yrs</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/step-5">
      <td class="mdl-data-table__cell--non-numeric">Spruce</td>
      <td class="mdl-data-table__cell--non-numeric">
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
      </td>
      <td>$86</td>
      <td>$15,400</td>
    </tr>
    <tr routerLink="/step-5"> 
      <td class="mdl-data-table__cell--non-numeric">Sunrun</td>
      <td class="mdl-data-table__cell--non-numeric">
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
        <i class="star material-icons">star_rate</i>
      </td>
      <td>$68</td>
      <td>$17,920</td>
    </tr>
    <tr routerLink="/step-5">
      <td class="mdl-data-table__cell--non-numeric">Solar Fun</td>
      <td class="mdl-data-table__cell--non-numeric">
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
      </td>
      <td>$71</td>
      <td>$17,240</td>
    </tr>
    <tr routerLink="/step-5">
      <td class="mdl-data-table__cell--non-numeric">Bright Sun</td>
      <td class="mdl-data-table__cell--non-numeric">
          <i class="star material-icons">star_rate</i>
      </td>
      <td>$73</td>
      <td>$16,980</td>
    </tr>
  </tbody>
</table>