<h1>
    Choose an Installer
  </h1>
  
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Installer</th>
        <th class="mdl-data-table__cell--non-numeric">User Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">1st Light Energy</td>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Installer 2</td>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
          <i class="star material-icons">star_rate</i>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Installer 3</td>
        <td class="mdl-data-table__cell--non-numeric">
            <i class="star material-icons">star_rate</i>
            <i class="star material-icons">star_rate</i>
        </td>
      </tr>
    </tbody>
  </table>