<div class="content-padding " layout="column" layout-align="center center">
  <h1>Proposal</h1>
  <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">System Size </span>
      <span class="mdl-list__item-secondary-action">
        4KW
      </span>
    </li>
  <div class="demo-list-action mdl-list">
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Current Monthly Bill </span>
      <span class="mdl-list__item-secondary-action">
        $120
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">New Monthly Bill </span>
      <span class="mdl-list__item-secondary-action">
        $70
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Financier </span>
      <span class="mdl-list__item-secondary-action">
        Spurce Loan ($16,000)
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Installer</span>
      <span class="mdl-list__item-secondary-action">
        1st Light Energy
      </span>
    </li>
  </div>
  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored center end" layout="row" layout-align="center end">
      GO SOLAR for $0
    </button>
  </div>

  <!--Chart-->
  <canvas id="myChart" width="400" height="400"></canvas>
</div>