<div class="content-padding " layout="column" layout-align="center center">
  <h1>Proposal</h1>
  <div class="demo-list-action mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content mdl-color-text--blue-grey-50">Address Added</span>
      <span class="mdl-list__item-secondary-action">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
          <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
        </label>
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Current Monthly Bill = </span>
      <span class="mdl-list__item-secondary-action">
        $100.00
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Current Watt Usage = </span>
      <span class="mdl-list__item-secondary-action">
        897 kWh
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Potential Monthly Bill = </span>
      <span class="mdl-list__item-secondary-action">
        $70.00
      </span>
    </li>
    <li class="mdl-list__item mdl-color-text--blue-grey-50">
      <span class="mdl-list__item-primary-content ">Potential Watt Usage = </span>
      <span class="mdl-list__item-secondary-action">
        500 kWh
      </span>
    </li>
  </div>
  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored center end" layout="row" layout-align="center end">
      GO SOLAR
    </button>
  </div>
</div>