.example-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .example-container > * {
    width: 100%;
    
  }

  .email-header {
    margin-bottom: 12rem;
    text-align: center;
  }
  