/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.content-padding {
    padding: 16px 32px;
}

.demo-list-icon {
    width: 300px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.user-q {
  line-height: 45px;
}

.mdl-textfield, .mdl-textfield__input, .mdl-textfield__label {
  font-size: 30px;
}

.mdl-textfield {
  width: 100%;
}