<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Solar</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>

<body class='mdl-layout__content mdl-color--grey-100'>
    <!--Header-->
    <div class="mdl-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Dvinci</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="">
        <div class="page-content" style="height:90vh;">
          <!--Main Grid layout-->
          <div class="mdl-grid" style="height: 100%">
            <div class="mdl-cell mdl-cell--8-col">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" [formControl]="emailFormControl"
                             [errorStateMatcher]="matcher">
                      <mat-hint>Errors appear instantly!</mat-hint>
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 mdl-shadow--2dp">
  
              <div class="content-padding " layout="column" layout-align="center center">
                <h1>Proposal</h1>
                <div class="demo-list-action mdl-list">
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content mdl-color-text--blue-grey-50">Address Added</span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                              <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item mdl-color-text--blue-grey-50">
                            <span class="mdl-list__item-primary-content ">Current Monthly Bill = </span>
                            <span class="mdl-list__item-secondary-action">
                              $100.00
                            </span>
                          </li>
                          <li class="mdl-list__item mdl-color-text--blue-grey-50">
                              <span class="mdl-list__item-primary-content ">Current Watt Usage = </span>
                              <span class="mdl-list__item-secondary-action">
                                  897 kWh
                              </span>
                            </li>
                            <li class="mdl-list__item mdl-color-text--blue-grey-50">
                                <span class="mdl-list__item-primary-content ">Potential Monthly Bill = </span>
                                <span class="mdl-list__item-secondary-action">
                                  $70.00
                                </span>
                              </li>
                              <li class="mdl-list__item mdl-color-text--blue-grey-50">
                                  <span class="mdl-list__item-primary-content ">Potential Watt Usage = </span>
                                  <span class="mdl-list__item-secondary-action">
                                      500 kWh
                                  </span>
                                </li>
                </div>
  
                <div>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored center end" layout="row" layout-align="center end">
                    GO SOLAR
                  </button>
                </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </main>
  
    </div>
  </body>

</html>